body
{
    background-image: linear-gradient(rgb(76, 76, 120), rgba(44, 44, 44, 0.95));
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}
#privacy-policy-section
{
    background-color: lightskyblue;
    border: 1px solid white;
    padding: 1.5rem;
    margin: 1.5rem;
}
.navbar
{
    background-image: linear-gradient(lightblue, lightskyblue);
    border-bottom: 2px solid white;
    width: 100%;
    margin: 0;
}
h1, h2, h3
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke-width: 0.75px;
    font-variant: small-caps;
    -webkit-text-stroke-color: black;
    color: white;
}
h4, h5
{
    font-variant: small-caps;
}
.variable-group
{
    border: 2px solid white;
    background-color: lightskyblue;
    padding: 1.5rem;
    margin: 1.5rem;
    position: relative;
    height: 35rem;
    overflow-y: scroll;
}
.aligned-header, form input.generate-report-btn, .report-section
{
    margin-left: 1.5rem;
}
form input.generate-report-btn
{
    border: 1px solid black;
    font-variant: small-caps;
}
#situation-report-section
{
    background-image: linear-gradient(rgb(250, 240, 200), gold);
    background-repeat: no-repeat;
    border-top: 2px solid white;
    display: none;
}
.footer
{
    background-image: linear-gradient(lightblue, lightskyblue);
    border-top: 2px solid white;
    height: 5rem;
}
.logo-img
{
    border: 1px solid black;
    border-radius: 100%;
}
.question
{
    margin-top: 5px;
}
.question ol li
{
    margin-top: 1.5rem;
}
a
{
    color: white;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 1.5rem;
}
a:hover
{
    color: midnightblue;
}
p, a, input, label, li
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type="number"]
{
    display: block;
    width: 4rem;
}

@media screen and (max-width: 1280px)
{
    .variable-group
    {
        height: fit-content;
    }
}
@media screen and (max-width: 767px)
{
    .navbar-title
    {
        font-size: 2.75rem;
        width: 100%;
    }
    li, .report-description
    {
        width: 90%;
    }
    .generate-report-btn
    {
        width: 83%;
        font-size: 75%;
    }
    h4, h5
    {
        font-size: 90%;
    }
    .variable-group
    {
        height: fit-content;
    }
    .footer
    {
        height: 3rem;
    }
}